# Enable SyzGen++ required options for raw kernel
CONFIG_UBSAN=n
CONFIG_NET_SCHED=n
CONFIG_DEBUG_INFO=n
CONFIG_DEBUG_INFO_DWARF_TOOLCHAIN_DEFAULT=n
CONFIG_DEBUG_VM=n
CONFIG_FORTIFY_SOURCE=n
CONFIG_HARDENED_USERCOPY=n
CONFIG_LOCKUP_DETECTOR=n
CONFIG_SOFTLOCKUP_DETECTOR=n
CONFIG_HARDLOCKUP_DETECTOR=n
CONFIG_DETECT_HUNG_TASK=n
CONFIG_WQ_WATCHDOG=n
CONFIG_DEBUG_KMEMLEAK=n
CONFIG_KALLSYMS_ALL=n
# For error:
# [FAILED] Failed to mount /proc/sys/fs/binfmt_misc.
# See 'systemctl status proc-sys-fs-binfmt_misc.mount' for details.
CONFIG_BINFMT_MISC=y
